.itens{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 20px;
    padding: 10px;
}

.item1, .item2, .item3, .item4{
    border-radius: 50%;
    height: 50px;    
}
.item1 {
    background-color: #19A68C;
        animation: girar1 2.5s ease-in-out infinite;

}

.item2 {
    background-color: #F63D3A;
        animation: girar2 2.5s ease-in-out infinite;

}

.item3 {
    background-color: #FDA543;
        animation: girar3 2.5s ease-in-out infinite;

}


.item4 {
    background-color: #193B48;
    animation: girar4 2.5s ease-in-out infinite;

}


    @keyframes girar1 {
        0%{
            transform: translateX(0px);
        }
        25%{
            transform: translateX(71px);
        }
        50%{
            transform: translate(71px, 71px);
        }
        75%{
            transform: translateY(71px);
        }
        100%{
            transform: translateY(0);
        }
    }

    @keyframes girar2 {
        0%{
            transform: translateX(0px);
        }
        25%{
            transform: translate(0,71px);
        }
        50%{
            transform: translate(-71px,71px);
        }
        75%{
            transform: translateX(-71px);
        }
        100%{
            transform: translateY(0);
        }
    }
    @keyframes girar3 {
        0%{
            transform: translateX(0px);
        }
        25%{
            transform: translateY(-71px);
        }
        50%{
            transform: translate(71px, -71px);
        }
        75%{
            transform: translateX(71px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    @keyframes girar4 {
        0%{
            transform: translateX(0px);
        }
        25%{
            transform: translateX(-71px);
        }
        50%{
            transform: translate(-71px, -71px);
        }
        75%{
            transform: translateY(-71px);
        }
        100%{
            transform: translateY(0);
        }
    }